<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Configuraciones del sitio</h1>
    </div>
  </div>
  <div class="row p-3">
    <div class="col-12 col-md-6 card shadow">
      <div class="row p-3">
        <div class="col-12">
          <h4>Tema del sitio:</h4>
        </div>
        <div class="col-12 pb-3">
          <input id="switch" type="checkbox" />
          <div class="app">
            <div class="body">
              <div class="phone">
                <div class="menu">

                </div>

                <div class="content">
                  <div class="circle">
                    <div class="crescent"></div>
                  </div>

                  <label for="switch">
                    <div class="toggle"></div>
                    <div class="names">
                      <p class="light">Light</p>
                      <p class="dark">Dark</p>
                    </div>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
