<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button
      style="background-color: black"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      style="background-color: black"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      style="background-color: black"
      type="button"
      data-bs-target="#myCarousel"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="img/carousel/qualificacao-cursos-online.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="container">
        <div class="carousel-caption text-start rounded shadow">
          <h1>Habilidades que te ayudan a avanzar</h1>
          <p class="opacity-75">
            La tecnología y el mundo laboral evolucionan muy rápido, pero con
            nosotros, podrás mantener el ritmo. Consigue las habilidades que
            necesitas para lograr tus objetivos y garantizar la competitividad.
          </p>
          <p>
            <a class="btn btn-outline-info text-light" href="#"
              >Mas informacion</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="img/carousel/Mejores-plataformas-de-cursos.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="container">
        <div class="carousel-caption rounded shadow">
          <h1>Un aprendizaje interesante</h1>
          <p>
            Habilidades para tu presente (y tu futuro). Da tus primeros pasos
            con nosotros.
          </p>
          <p>
            <a class="btn btn-outline-info text-light" href="#"
              >Mas informacion</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img
        src="img/carousel/cursos-en-linea-para-mejorar.jpg"
        class="d-block w-100"
        alt="..."
      />
      <div class="container">
        <div class="carousel-caption text-end rounded shadow">
          <h1>Aprendizaje orientado a tus objetivos</h1>
          <p>
            Alcanza más rápido tus objetivos con uno de nuestros planes o
            programas. Prueba uno gratis hoy mismo o ponte en contacto con el
            equipo de ventas para obtener más información..
          </p>
          <p>
            <a class="btn btn-outline-info text-light" href="#"
              >Mas informacion</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="prev"
  >
    <span
      class="carousel-control-prev-icon bg-dark rounded-start"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#myCarousel"
    data-bs-slide="next"
  >
    <span
      class="carousel-control-next-icon bg-dark rounded-end"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <hr />

  <div class="row">
    <div class="col-lg-4">
      <img
        src="img/servicios/11781773.gif"
        alt=""
        class="bd-placeholder-img rounded-circle"
        width="140"
        height="140"
      />

      <h2 class="fw-normal">Aprende de forma práctica</h2>
      <p>
        Los cursos incluyen lecturas, videos, proyectos y actividades de la vida
        real que te ayudarán a colocar en práctica tu aprendizaje.
      </p>
      <p><a class="btn btn-secondary" href="#">Ver detalles &raquo;</a></p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img
        src="img/servicios/11781765.gif"
        alt=""
        class="bd-placeholder-img rounded-circle"
        width="140"
        height="140"
      />
      <h2 class="fw-normal">
        Recibe retroalimentación de profesionistas expertos
      </h2>
      <p>
        Nuestros profesionistas expertos proporcionan revisión y
        retroalimentación durante las actividades y proyectos del curso.
      </p>
      <p><a class="btn btn-secondary" href="#">Ver detalles &raquo;</a></p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img
        src="img/servicios/16275708.gif"
        alt=""
        class="bd-placeholder-img rounded-circle"
        width="140"
        height="140"
      />
      <h2 class="fw-normal">Conecta con estudiantes de todo el mundo</h2>
      <p>
        No estarás solo. Disfruta de chats en tiempo real y transmisiones en
        vivo con estudiantes de todo el mundo.
      </p>
      <p><a class="btn btn-secondary" href="#">Ver detalles &raquo;</a></p>
    </div>
    <!-- /.col-lg-4 -->
  </div>
  <!-- /.row -->

  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        Donde comienzan las posibilidades.
        <span class="text-body-secondary">Te dejaras boquiabierto.</span>
      </h2>
      <p class="lead">
        Somos una plataforma líder de aprendizaje y enseñanza en línea. Explore
        algunos de nuestros contenidos más populares y aprenda algo nuevo.
      </p>
    </div>
    <div class="col-md-5">
      <img
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        src="img/welcome/3714828.jpg"
        alt="..."
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">
        Empodere a su equipo. Lidere la industria.
        <span class="text-body-secondary">Vealo usted mismo.</span>
      </h2>
      <p class="lead">
        Obtenga una suscripción a una biblioteca de cursos en línea y
        herramientas de aprendizaje digital para su organización con Udemy
        Business.
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        src="img/welcome/c17e937554ed20da10133d09ff5e6b68.png"
        alt="..."
      />
    </div>
  </div>

  <hr class="featurette-divider" />

  <div class="row featurette pb-5">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">
        Las habilidades son la clave para liberar el potencial.
        <span class="text-body-secondary">Compruebalo tu mismo.</span>
      </h2>
      <p class="lead">
        Ya sea que desee aprender una nueva habilidad, capacitar a sus equipos o
        compartir lo que sabe con el mundo, está en el lugar correcto. Como
        líder en aprendizaje en línea, estamos aquí para ayudarlo a alcanzar sus
        objetivos y transformar su vida.
      </p>
    </div>
    <div class="col-md-5">
      <img
        class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
        src="img/welcome/mercado-de-cursos-en-linea-coursifyme.jpg"
        alt="..."
      />
    </div>
  </div>

  <!-- /END THE FEATURETTES -->
</div>
<!-- /.container -->
