/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.418);
  padding: 10px;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 30rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-heading {
  letter-spacing: -.05rem;
}


.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

img {
  border-radius: 10px; /* Ajusta el valor según tu gusto */
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  transition: transform 0.3s ease-in-out;
}

img:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease-in-out;
}


/* Para pantallas menores a 768px (un tamaño común para tablets) */
@media (max-width: 600px) {
  h1{
    font-size:6vw !important;
  }
  p{
    font-size:4vw !important;
  }
  .carousel-caption{
    padding: 5px;
    bottom: 8vw;
  }
  .carousel-item {
    height: 21rem;
  }
}
