<mat-drawer-container
  class="contenedor-drawer"
  [hasBackdrop]="isMobileDevice() ? !hasBackdrop : hasBackdrop"
>
  <mat-drawer
    #drawer
    [mode]="isMobileDevice() ? mode[2] : mode[0]"
    [opened]="showNavLeft"
    class="drawer text-dark bg-gradient border-danger-subtle border-end border-4"
  >
    <app-nav-left [drawer]="drawer" />
    @if (isMobileDevice()) {
    <button mat-raised-button
      class=" w-100 position-absolute bottom-0"
      (click)="hiddeMenuLeft()"
    >
      <mat-icon matListItemIcon class="m-0 icons-options">menu_open</mat-icon>
    </button>
    }
  </mat-drawer>
  <mat-drawer-content
    class="bg-content"
    [class]="isViewWelcome ? 'bg-gradient bg-light' : ''"
  >
    <div class="background-image">
      <app-nav-top [drawer]="drawer" />
      <router-outlet />
    </div>
  </mat-drawer-content>
</mat-drawer-container>
