<main class="container">
  <div
    class="p-4 p-md-5 mb-4 mt-3 rounded text-body-emphasis bg-body-secondary"
  >
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">
        Título de una publicación destacada más larga
      </h1>
      <p class="lead my-3">
        Múltiples líneas de texto que forman la introducción, informando a los
        nuevos lectores de manera rápida y eficiente sobre lo que es más
        interesante en el contenido de esta publicación.
      </p>
      <p class="lead mb-0">
        <a href="#" class="text-body-emphasis fw-bold">Continuar leyendo...</a>
      </p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis"
            >Mundo</strong
          >
          <h3 class="mb-0">Publicación destacada</h3>
          <div class="mb-1 text-body-secondary">Noviembre 12</div>
          <p class="card-text mb-auto">
            Esta es una tarjeta más amplia con texto de apoyo a continuación
            como una introducción natural a contenido adicional.
          </p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            Continuar leyendo
            <svg class="bi"><use xlink:href="#chevron-right" /></svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block placeholder-glow">
          <svg
            class="bd-placeholder-img placeholder"
            width="200"
            height="250"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: Thumbnail"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <title>Marcador de posición</title>
            <rect width="100%" height="100%" fill="#55595c" />
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Miniatura</text>
          </svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success-emphasis"
            >Diseño</strong
          >
          <h3 class="mb-0">Título de la publicación</h3>
          <div class="mb-1 text-body-secondary">Noviembre 11</div>
          <p class="mb-auto">
            Esta es una tarjeta más amplia con texto de apoyo a continuación
            como una introducción natural a contenido adicional.
          </p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            Continuar leyendo
            <svg class="bi"><use xlink:href="#chevron-right" /></svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block placeholder-glow">
          <svg
            class="bd-placeholder-img placeholder"
            width="200"
            height="250"
            xmlns="http://www.w3.org/2000/svg"
            role="img"
            aria-label="Placeholder: Thumbnail"
            preserveAspectRatio="xMidYMid slice"
            focusable="false"
          >
            <title>Marcador de posición</title>
            <rect width="100%" height="100%" fill="#55595c" />
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Miniatura</text>
          </svg>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">Desde el Firehose</h3>

      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">
          Publicación de blog de ejemplo
        </h2>
        <p class="blog-post-meta">
          1 de enero de 2021 por <a href="#">Mark</a>
        </p>

        <p>
          Esta publicación de blog muestra algunos tipos diferentes de contenido
          que son compatibles y están estilizados con Bootstrap. La tipografía
          básica, listas, tablas, imágenes, código y más son todos compatibles
          como se esperaba.
        </p>
        <hr />
        <p>
          Este es un contenido de párrafo adicional de marcador de posición. Se
          ha escrito para llenar el espacio disponible y mostrar cómo un
          fragmento de texto más largo afecta el contenido circundante. Lo
          repetiremos a menudo para mantener la demostración en marcha, así que
          esté atento a esta misma cadena de texto.
        </p>
        <h2>Citas</h2>
        <p>Este es un ejemplo de una cita en acción:</p>
        <blockquote class="blockquote">
          <p>El texto citado va aquí.</p>
        </blockquote>
        <p>
          Este es un contenido de párrafo adicional de marcador de posición. Se
          ha escrito para llenar el espacio disponible y mostrar cómo un
          fragmento de texto más largo afecta el contenido circundante. Lo
          repetiremos a menudo para mantener la demostración en marcha, así que
          esté atento a esta misma cadena de texto.
        </p>
        <h3>Ejemplo de listas</h3>
        <p>
          Este es un contenido de párrafo adicional de marcador de posición. Es
          una versión ligeramente más corta del otro texto corporal altamente
          repetitivo utilizado en todo momento. Este es un ejemplo de una lista
          desordenada:
        </p>
        <ul>
          <li>Primer elemento de la lista</li>
          <li>Segundo elemento de la lista con una descripción más larga</li>
          <li>Tercer elemento de la lista para finalizar</li>
        </ul>
        <p>Y esta es una lista ordenada:</p>
        <ol>
          <li>Primer elemento de la lista</li>
          <li>Segundo elemento de la lista con una descripción más larga</li>
          <li>Tercer elemento de la lista para finalizar</li>
        </ol>
        <p>Y esta es una lista de definiciones:</p>
        <dl>
          <dt>Lenguaje de Marcado de Hipertexto (HTML)</dt>
          <dd>
            El lenguaje utilizado para describir y definir el contenido de una
            página web
          </dd>
          <dt>Hojas de Estilo en Cascada (CSS)</dt>
          <dd>Utilizado para describir la apariencia del contenido web</dd>
          <dt>JavaScript (JS)</dt>
          <dd>
            El lenguaje de programación utilizado para construir sitios web y
            aplicaciones avanzadas
          </dd>
        </dl>
        <h2>Elementos HTML en línea</h2>
        <p>
          HTML define una larga lista de etiquetas en línea disponibles, una
          lista completa de las cuales se puede encontrar en la
          <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element"
            >Mozilla Developer Network</a
          >.
        </p>
        <ul>
          <li>
            <strong>Para poner texto en negrita</strong>, usa
            <code class="language-plaintext highlighter-rouge"
              >&lt;strong&gt;</code
            >.
          </li>
          <li>
            <em>Para poner texto en cursiva</em>, usa
            <code class="language-plaintext highlighter-rouge">&lt;em&gt;</code
            >.
          </li>
          <li>
            Abreviaturas, como
            <abbr title="HyperText Markup Language">HTML</abbr> deben usar
            <code class="language-plaintext highlighter-rouge"
              >&lt;abbr&gt;</code
            >, con un atributo
            <code class="language-plaintext highlighter-rouge">title</code>
            opcional para la frase completa.
          </li>
          <li>
            Citas, como <cite>— Mark Otto</cite>, deben usar
            <code class="language-plaintext highlighter-rouge"
              >&lt;cite&gt;</code
            >.
          </li>
          <li>
            Texto <del>eliminado</del> debe usar
            <code class="language-plaintext highlighter-rouge"
              >&lt;del&gt;</code
            >
            y el texto <ins>insertado</ins> debe usar
            <code class="language-plaintext highlighter-rouge">&lt;ins&gt;</code
            >.
          </li>
          <li>
            Texto en superíndice <sup>texto</sup> usa
            <code class="language-plaintext highlighter-rouge"
              >&lt;sup&gt;</code
            >
            y texto en subíndice <sub>texto</sub> usa
            <code class="language-plaintext highlighter-rouge">&lt;sub&gt;</code
            >.
          </li>
        </ul>
        <p>
          La mayoría de estos elementos son estilizados por los navegadores con
          pocas modificaciones de nuestra parte.
        </p>
        <h2>Encabezado</h2>
        <p>
          Este es un contenido de párrafo adicional de marcador de posición. Se
          ha escrito para llenar el espacio disponible y mostrar cómo un
          fragmento de texto más largo afecta el contenido circundante. Lo
          repetiremos a menudo para mantener la demostración en marcha, así que
          esté atento a esta misma cadena de texto.
        </p>
        <h3>Subencabezado</h3>
        <p>
          Este es un contenido de párrafo adicional de marcador de posición. Se
          ha escrito para llenar el espacio disponible y mostrar cómo un
          fragmento de texto más largo afecta el contenido circundante. Lo
          repetiremos a menudo para mantener la demostración en marcha, así que
          esté atento a esta misma cadena de texto.
        </p>
        <pre><code>Ejemplo de bloque de código</code></pre>
        <p>
          Este es un contenido de párrafo adicional de marcador de posición. Es
          una versión ligeramente más corta del otro texto corporal altamente
          repetitivo utilizado en todo momento.
        </p>
      </article>
      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">
          Otra publicación de blog
        </h2>
        <p class="blog-post-meta">
          23 de diciembre de 2020 por <a href="#">Jacob</a>
        </p>
        <p>
          Este es un contenido de párrafo adicional de marcador de posición. Se
          ha escrito para llenar el espacio disponible y mostrar cómo un
          fragmento de texto más largo afecta el contenido circundante. Lo
          repetiremos a menudo para mantener la demostración en marcha, así que
          esté atento a esta misma cadena de texto.
        </p>
        <blockquote>
          <p>
            Una cita más larga va aquí, tal vez con algún
            <strong>texto enfatizado</strong> en el medio.
          </p>
        </blockquote>
        <p>
          Este es un contenido de párrafo adicional de marcador de posición. Se
          ha escrito para llenar el espacio disponible y mostrar cómo un
          fragmento de texto más largo afecta el contenido circundante. Lo
          repetiremos a menudo para mantener la demostración en marcha, así que
          esté atento a esta misma cadena de texto.
        </p>
        <h3>Ejemplo de tabla</h3>
        <p>Y no olvides las tablas en estas publicaciones:</p>
        <table class="table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Votos a favor</th>
              <th>Votos en contra</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Alice</td>
              <td>10</td>
              <td>11</td>
            </tr>
            <tr>
              <td>Bob</td>
              <td>4</td>
              <td>3</td>
            </tr>
            <tr>
              <td>Charlie</td>
              <td>7</td>
              <td>9</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>Totales</td>
              <td>21</td>
              <td>23</td>
            </tr>
          </tfoot>
        </table>
        <p>
          Este es un contenido de párrafo adicional de marcador de posición. Es
          una versión ligeramente más corta del otro texto corporal altamente
          repetitivo utilizado en todo momento.
        </p>
      </article>
      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">Nueva característica</h2>
        <p class="blog-post-meta">
          14 de diciembre de 2020 por <a href="#">Chris</a>
        </p>
        <p>
          Este es un contenido de párrafo adicional de marcador de posición. Se
          ha escrito para llenar el espacio disponible y mostrar cómo un
          fragmento de texto más largo afecta el contenido circundante. Lo
          repetiremos a menudo para mantener la demostración en marcha, así que
          esté atento a esta misma cadena de texto.
        </p>
        <ul>
          <li>Primer elemento de la lista</li>
          <li>Segundo elemento de la lista con una descripción más larga</li>
          <li>Tercer elemento de la lista para finalizar</li>
        </ul>
        <p>
          Este es un contenido de párrafo adicional de marcador de posición. Es
          una versión ligeramente más corta del otro texto corporal altamente
          repetitivo utilizado en todo momento.
        </p>
      </article>
    </div>
    <div class="col-md-4">
      <div class="position-sticky" style="top: 4rem">
        <div class="p-4 mb-3 bg-body-tertiary rounded">
          <h4 class="fst-italic">Acerca de</h4>
          <p class="mb-0">
            Personaliza esta sección para contarles a tus visitantes un poco
            sobre tu publicación, escritores, contenido, o algo completamente
            diferente. Totalmente a tu elección.
          </p>
        </div>

        <div>
          <h4 class="fst-italic">Publicaciones recientes</h4>
          <ul class="list-unstyled placeholder-glow">
            <li>
              <a
                class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                href="#"
              >
                <svg
                  class="bd-placeholder-img placeholder"
                  width="100%"
                  height="96"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <rect width="100%" height="100%" fill="#777" />
                </svg>
                <div class="col-lg-8">
                  <h6 class="mb-0">Título de ejemplo de publicación de blog</h6>
                  <small class="text-body-secondary">15 de enero de 2024</small>
                </div>
              </a>
            </li>
            <li>
              <a
                class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                href="#"
              >
                <svg
                  class="bd-placeholder-img placeholder"
                  width="100%"
                  height="96"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <rect width="100%" height="100%" fill="#777" />
                </svg>
                <div class="col-lg-8">
                  <h6 class="mb-0">
                    Este es otro título de publicación de blog
                  </h6>
                  <small class="text-body-secondary">14 de enero de 2024</small>
                </div>
              </a>
            </li>
            <li>
              <a
                class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                href="#"
              >
                <svg
                  class="bd-placeholder-img placeholder"
                  width="100%"
                  height="96"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <rect width="100%" height="100%" fill="#777" />
                </svg>
                <div class="col-lg-8">
                  <h6 class="mb-0">
                    Título de publicación de blog más largo: ¡Este tiene
                    múltiples líneas!
                  </h6>
                  <small class="text-body-secondary">13 de enero de 2024</small>
                </div>
              </a>
            </li>
          </ul>
        </div>

        <div>
          <h4 class="fst-italic">Lo mas visto</h4>
          <ul class="list-unstyled placeholder-glow">
            <li>
              <a
                class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                href="#"
              >
                <svg
                  class="bd-placeholder-img placeholder"
                  width="100%"
                  height="96"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <rect width="100%" height="100%" fill="#777" />
                </svg>
                <div class="col-lg-8">
                  <h6 class="mb-0">Título de ejemplo de publicación de blog</h6>
                  <small class="text-body-secondary">15 de enero de 2024</small>
                </div>
              </a>
            </li>
            <li>
              <a
                class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                href="#"
              >
                <svg
                  class="bd-placeholder-img placeholder"
                  width="100%"
                  height="96"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <rect width="100%" height="100%" fill="#777" />
                </svg>
                <div class="col-lg-8">
                  <h6 class="mb-0">
                    Este es otro título de publicación de blog
                  </h6>
                  <small class="text-body-secondary">14 de enero de 2024</small>
                </div>
              </a>
            </li>
            <li>
              <a
                class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                href="#"
              >
                <svg
                  class="bd-placeholder-img placeholder"
                  width="100%"
                  height="96"
                  xmlns="http://www.w3.org/2000/svg"
                  aria-hidden="true"
                  preserveAspectRatio="xMidYMid slice"
                  focusable="false"
                >
                  <rect width="100%" height="100%" fill="#777" />
                </svg>
                <div class="col-lg-8">
                  <h6 class="mb-0">
                    Título de publicación de blog más largo: ¡Este tiene
                    múltiples líneas!
                  </h6>
                  <small class="text-body-secondary">13 de enero de 2024</small>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
