<div class="container">
  <div class="row">
    <div class="col-12 p-5">
      <div class="contact-form shadow animate__animated animate__backInLeft">
        <span class="heading">Contactanos</span>
        <form>
          <label for="name">Nombre:</label>
          <input type="text" required="" placeholder="Escribir aquí..."/>
          <label for="email">Email:</label>
          <input
            type="email"
            id="email"
            name="email"
            required=""
            placeholder="Escribir aquí..."
          />
          <label for="message">Cuentanos, ¿En que podemos ayudarte?</label>
          <textarea
            id="message"
            name="message"
            required=""
            placeholder="Escribir aquí..."
          ></textarea>
          <button type="submit">Enviar comentarios</button>
        </form>
      </div>
    </div>
  </div>
</div>
